{{#extend "content"}}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body rounded bg-info-gradiant">
        <h4 class="text-white mb-4">Member</h4>
        <h1 class="text-right text-white">
          <i class="fas fa-user float-left"></i><span>{{ data.member }}</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body rounded bg-success-gradiant">
        <h4 class="text-white mb-4">Package</h4>
        <h1 class="text-right text-white">
          <i class="fas fa-box-open float-left"></i
          ><span>{{ data.package }}</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body rounded bg-danger-gradiant">
        <h4 class="text-white mb-4">Order</h4>
        <h1 class="text-right text-white">
          <i class="fas fa-box-open float-left"></i
          ><span>{{ data.order }}</span>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Member Gender</h4>
        <canvas id="chartGender"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Transaction Payyed</h4>
        <canvas id="chartTransaction"></canvas>
      </div>
    </div>
  </div>
  {{/extend}}
  {{#extend "js"}}
  <script src="/assets/plugins/chartjs/chart.js/dist/Chart.min.js"></script>
  <script>
    $(document).ready(function() {
      var totLaki, totPerempuan, totDibayar, totBlmDibayar;
      $.ajax({
        type: "get",
        url: "/dashboard/getDataChart",
        dataType: "json",
        success: function(response) {
          totLaki = response.gender.totalLaki;
          totPerempuan = response.gender.totalPerempuan;
          totDibayar = response.transaction.totalDibayar;
          totBlmDibayar = response.transaction.totalBelumDibayar;
          var configGender = {
            type: "pie",
            data: {
              datasets: [
                {
                  data: [totLaki, totPerempuan],
                  backgroundColor: ["#e3ff2b", "#2ba0ff"],
                  label: "Gender"
                }
              ],
              labels: ["Laki-laki", "Perempuan"]
            },
            options: {
              responsive: true
            }
          };
          var gender = document.getElementById("chartGender").getContext("2d");
          var transaction = document
            .getElementById("chartTransaction")
            .getContext("2d");
          var configTransaction = {
            type: "pie",
            data: {
              datasets: [
                {
                  data: [totDibayar, totBlmDibayar],
                  backgroundColor: ["#34a8eb", "#f24141"],
                  label: "Transaction"
                }
              ],
              labels: ["Dibayar", "Belum Dibayar"]
            },
            options: {
              responsive: true
            }
          };
          new Chart(gender, configGender);
          new Chart(transaction, configTransaction);
        }
      });
    });
  </script>
  {{/extend}}
  {{#extend "css"}}
  <link
    rel="stylesheet"
    href="/assets/plugins/chartjs/chart.js/dist/Chart.min.css"
  />
  {{/extend}}
</div>
