{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <span class="breadcrumb-item active">Outlet</span>
        </nav>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" style="">
        {{#if flashData.failed }}
        <div class="alert alert-danger">
            {{flashData.failed}}
        </div>
        {{/if}}
        {{#if flashData.success}}
        <div class="alert alert-success">
            {{flashData.success}}
        </div>
        {{/if}}
        <form action="/dashboard/outlet/save" method="POST" id="form-signup" class="form-material">
            <input type="hidden" value="{{data._id}}" name="id">
            <div class="form-group">
                <label for="">Nama</label>
                <input type="text" name="nama" value="{{data.name}}" id="name-form" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Alamat</label>
                <input type="text" name="alamat" value="{{data.address}}" id="username-form" class="form-control"
                    placeholder="" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Telephone</label>
                <input type="text" name="telp" value="{{data.telephone}}" id="password-form" class="form-control"
                    placeholder="" aria-describedby="helpId">
            </div>
            <br>
            <button type="submit" id="signup-btn" class="btn btn-success">Save</button>
    </div>

    </form>
</div>
</div>

{{/extend}}

{{#extend "js"}}
<script>
    $("#signup-btn").click((e) => {
        e.preventDefault();
        var username = $("#username-form").val()
        var name = $("#name-form").val()
        var email = $("#email-form").val()
        var password = $("#password-form").val()
        if (username != "") {
            $("#username-form").removeClass("form-control-danger")
            $("#username-form").addClass("form-control-success");
            $("#username-form").parent().removeClass("has-danger");
            $("#username-form").parent().addClass("has-success");
        } else {
            $("#username-form").removeClass("form-control-success")
            $("#username-form").addClass("form-control-danger");
            $("#username-form").parent().addClass("has-danger");
            $("#username-form").parent().removeClass("has-success");
        }
        if (password != "") {
            $("#password-form").removeClass("form-control-danger")
            $("#password-form").addClass("form-control-success");
            $("#password-form").parent().removeClass("has-danger");
            $("#password-form").parent().addClass("has-success");
        } else {
            $("#password-form").removeClass("form-control-success")
            $("#password-form").addClass("form-control-danger");
            $("#password-form").parent().addClass("has-danger");
            $("#password-form").parent().removeClass("has-success");
        }
        if (name != "") {
            $("#name-form").removeClass("form-control-danger")
            $("#name-form").addClass("form-control-success");
            $("#name-form").parent().removeClass("has-danger");
            $("#name-form").parent().addClass("has-success");
        } else {
            $("#name-form").removeClass("form-control-success")
            $("#name-form").addClass("form-control-danger");
            $("#name-form").parent().addClass("has-danger");
            $("#name-form").parent().removeClass("has-success");
        }
        if (username != "" && password != "" && name != "") {
            $("#form-signup").submit()
        }
    })
</script>
{{/extend}}