<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/img/logo/favicon.png">
  <title>{{title}}</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/dist/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="/assets/dist/css/custom.css">
  <link rel="stylesheet" href="/assets/dist/css/style.css">
  <link rel="stylesheet" href="/assets/dist/css/animate.css">
  <link rel="stylesheet" href="/assets/plugins/aos/dist/aos.css">

</head>

<body class="">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <div class="topbar">
      <div class="header5">
        <div class="container po-relative">
          {{>navbar}}
        </div>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <div class="container-fluid">
        {{!-- Static Slider --}}
        <div class="static-slider10" style="background-image: url(/img/laundry.jpg);">
          <div class="contanier">
            {{!-- row --}}
            <div class="row justify-content-center m-0">
              {{!-- col --}}
              <div class="col-md-6 text-center aos-init" data-aos-duration="1200" data-aos="fade-down">
                <h1 class="title" style="color: black;">LaundME</h1>
                <h4 class="subtitle font-light" style="color: black;">Laundry Terpercaya Di Kotamu<br /> Pencucian Cepat
                  dan Bersih</h4>
              </div>
              {{!-- end col --}}
            </div>
          </div>
        </div>
        {{!-- end Static Slider --}}
        {{{block "content"}}}
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Back to top -->
      <!-- ============================================================== --><a
        class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer 4  -->
    <!-- ============================================================== -->
    {{{block "footer"}}}
    <!-- ============================================================== -->
    <!-- footer 4  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="/assets/dist/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/dist/js/bootstrap.min.js"></script>
  <script src="/assets/plugins/aos/dist/aos.js"></script>
  <script src="/assets/dist/js/custom.min.js"></script>
  <script>
    AOS.init({
      easing: 'ease-in-out-sine'
    });
  </script>

</body>

</html>