<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>{{title}}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/assets/dist/css/custom.css">
    <link rel="stylesheet" href="/assets/dist/css/style.css">
    <link rel="stylesheet" href="/assets/dist/css/animate.css">
    <link rel="stylesheet" href="/assets/dist/css/error.css">
</head>

<body class="">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div class="error-outline header-filter" filter-color="grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top:20% ;" id="error-text">
                    <h1 class="text-white display-3 animated">404 Page Not Found</h1>
                    <p class="font-20 text-white animated">The Page You Are Looking For Not Found</p>
                    <p class="font-20 text-white animated"><a href="/">Bring Me Back</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/dist/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    {{!-- <script src="/assets/dist/js/custom.min.js"></script> --}}
    <script>
        $(document).ready(function () {
            $("#error-text").children().addClass("bounceInUp")
        })
    </script>
</body>

</html>