{{#extend "content"}}
<div class="bg-primary">
    <div class="container">
        <div class="row info-box text-center">
            <div class="col-md-12">
                <h2 class="text-white aos-init" data-aos="fade-left" data-aos-duration="1200">Dapatkan Diskon 5% Untuk
                    Minimal Belanja 5kg</h2>
            </div>
        </div>
    </div>
</div>
<div class="bg-light spacer feature5" id="feature">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Layanan Yang Luar Biasa</h2>
                <h6 class="subtitle">Nikmati Layanan Laundry Kita Yang Luar Biasa
                </h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-right" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant icon-Stopwatch"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Tepat Waktu</a>
                            </h6>
                            <p class="m-t-20">Pesanan anda akan selesai tepat waktu sesuai dengan waktu yang ditentukan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-down" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant icon-Information"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Teknologi Canggih</a>
                            </h6>
                            <p class="m-t-20">Mesin laundry yang kami gunakan memnggunakan teknologi mumpuni.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-left" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant icon-Shirt"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Berbagai Jenis Pakaian
                                </a>
                            </h6>
                            <p class="m-t-20">Melayani laundry untuk berbagai jenis pakaian dengan pilihan paket yang
                                beragam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-right" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant icon-Dollar-Sign"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Harga Terjangkau</a>
                            </h6>
                            <p class="m-t-20">Cuci Pakaian Anda dengan Harga Yang terjangkau dengan hasil memuaskan
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-up" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant icon-Telephone"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Layanan Telepon </a>
                            </h6>
                            <p class="m-t-20">Tanyakan Kami Melalui Telephone jika ada yang ditanyakan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature5-box">
                <div class="card card-shadow aos-init" data-aos="fade-left" data-aos-duration="1200">
                    <div class="card-body d-flex">
                        <div class="icon-space"><i class="text-info-gradiant  icon-Thumb"></i></div>
                        <div class="">
                            <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Kepuasan Pelanggan</a>
                            </h6>
                            <p class="m-t-20">Pelayanan Kami Mengutamakan Kepuasan Pelanggan nomor satu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>
{{/extend}}
{{#extend "footer"}}
<div class="footer4 spacer b-t bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center m-b-30">
                <h5 class="m-b-20">Address</h5>
                <p>{{data.address}}</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center m-b-30">
                <h5 class="m-b-20">Phone</h5>
                <p>Telephone : {{data.telephone}}</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center m-b-30">
                <h5 class="m-b-20">Outlet</h5>
                <p>{{data.name}}</p>
            </div>

        </div>
        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex font-14">
                        <div class="m-t-10 m-b-10 copyright">Copyright 2020 by Ahmad Maul</div>
                        <div class="links ml-auto m-t-10 m-b-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/extend}}