{{#extend "content"}}
<div class="row justify-content-center">
	<div class="col-md-5" style="margin-top: 7%;">
		<div class="card animated p-3">
			<div class="card-header bg-danger">
				<h1 class="card-title text-center text-white font-20">LOGIN</h1>
			</div>
			<div class="card-body">
				{{#if flashData.success }}
				<div class="alert alert-success">
					{{flashData.success}}
				</div>
				{{/if}}
				{{#if flashData.failed}}
				<div class="alert alert-danger">
					{{flashData.failed}}
				</div>
				{{/if}}
				<form action="/auth/login" method="POST" id="form-login" class="form-material">

					<div class="form-group">
						<label for="">Username</label>
						<input type="text" name="username" id="username-form" class="form-control" placeholder=""
							aria-describedby="helpId">
					</div>
					<div class="form-group">
						<label for="">Password</label>
						<input type="password" name="password" id="password-form" class="form-control" placeholder=""
							aria-describedby="helpId">
					</div>
				</form>
			</div>
			<div class="card-footer bg-white text-center">
				<button type="submit" id="login-btn" class="btn btn-danger">Login</button>
			</div>
		</div>
	</div>
</div>

{{/extend}}

{{#extend "js"}}
<script>
	$(document).ready(function () {
		$(".card").addClass("rubberBand");
	});
	$("#login-btn").click((e) => {
		e.preventDefault();
		var username = $("#username-form").val()
		var password = $("#password-form").val()
		if (username != "") {
			$("#username-form").removeClass("form-control-danger")
			$("#username-form").addClass("form-control-success");
			$("#username-form").parent().removeClass("has-danger");
			$("#username-form").parent().addClass("has-success");
		} else {
			$("#username-form").removeClass("form-control-success")
			$("#username-form").addClass("form-control-danger");
			$("#username-form").parent().addClass("has-danger");
			$("#username-form").parent().removeClass("has-success");
		}
		if (password != "") {
			$("#password-form").removeClass("form-control-danger")
			$("#password-form").addClass("form-control-success");
			$("#password-form").parent().removeClass("has-danger");
			$("#password-form").parent().addClass("has-success");
		} else {
			$("#password-form").removeClass("form-control-success")
			$("#password-form").addClass("form-control-danger");
			$("#password-form").parent().addClass("has-danger");
			$("#password-form").parent().removeClass("has-success");
		}
		if (username != "" && password != "") {
			$("#form-login").submit()
		}
	})
</script>
{{/extend}}

{{#extend "css"}}
<style>
	.card {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	}

	.top-bar {
		background-color: rgba(9, 157, 255, 0.788);
	}
</style>
{{/extend}}