{{#extend "css"}}
<link rel="stylesheet" href="/assets/plugins/dataTables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/assets/plugins/dataTables/responsive.bootstrap4.min.css">
{{/extend}}
{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <span class="breadcrumb-item active">Members</span>
        </nav>
    </div>
</div>
{{#if flashData.success}}
<div class="alert alert-success" role="alert">
    <strong>{{flashData.success}}</strong>
</div>
{{/if}}
<div class="row">
    <div class="col-md-12">
        <a href="/dashboard/members/add" class="btn-success btn ml-auto mb-3"><i class="fas fa-plus"></i> Add Member</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="table" class="table table-striped text-center dt-responsive nowrap" cellspacing="0"
            style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Telp</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{{/extend}}
{{#extend "js"}}
<script src="/assets/plugins/dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/dataTables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/dataTables/responsive.bootstrap4.min.js"></script>
<script type="text/javascript">
    $('#table').DataTable({
        ajax: {
            url: '/dashboard/members/dataTables',
            type: 'POST'
        },
        resposive: true,
        serverSide: true,
        columns: [
            { 'data': 'name' },
            { 'data': 'address' },
            { 'data': 'gender' },
            { 'data': 'telp' },
            { 'data': 'action' }
        ]
    });
    function deleteData(uri) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Dou you want delete this transaction!!!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                window.location.href = uri
            } else {
                return;
            }

        })
    }      
</script>
{{/extend}}