{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <a class="breadcrumb-item" href="/dashboard/package/list">Package</a>
            <span class="breadcrumb-item active">Edit</span>
        </nav>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" style="">
        {{#if flashData.failed }}
        <div class="alert alert-danger">
            {{flashData.failed}}
        </div>
        {{/if}}
        {{#if flashData.success}}
        <div class="alert alert-success">
            {{flashData.success}}
        </div>
        {{/if}}
        <form action="/dashboard/package/update" method="POST" id="form-signup" class="form-material">
            <input type="hidden" value="{{data._id}}" name="id">
            <div class="form-group">
                <label for="">Package Name</label>
                <input type="text" value="{{data.package_name}}" name="name" id="name-form" class="form-control"
                    placeholder="" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Type</label>
                <select class="form-control" name="type" id="">
                    <option value="kiloan" {{#if_eq data.type 'kiloan'}}selected{{/if_eq}}>Kiloan</option>
                    <option value="seprai" {{#if_eq data.type 'seprei'}}selected{{/if_eq}}>Seprai</option>
                    <option value="selimut" {{#if_eq data.type 'selimut'}}selected{{/if_eq}}>Selimut</option>
                    <option value="bed_cover" {{#if_eq data.type 'bed_cover'}}selected{{/if_eq}}>Bed Cover</option>
                    <option value="kaos">Kaos</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="number" value="{{data.price}}" name="price" id="telp-form" class="form-control"
                    placeholder="" aria-describedby="helpId">
            </div>
            <br>
            <button type="submit" id="signup-btn" class="btn btn-success">Update</button>
    </div>

    </form>
</div>
</div>

{{/extend}}

{{#extend "js"}}
<script>
    $(document).ready(function () {
        $(".card").addClass("rubberBand");
    });
    $("#signup-btn").click((e) => {
        e.preventDefault();
        var username = $("#username-form").val()
        var name = $("#name-form").val()
        var email = $("#telp-form").val()
        var password = $("#password-form").val()
        if (username != "") {
            $("#username-form").removeClass("form-control-danger")
            $("#username-form").addClass("form-control-success");
            $("#username-form").parent().removeClass("has-danger");
            $("#username-form").parent().addClass("has-success");
        } else {
            $("#username-form").removeClass("form-control-success")
            $("#username-form").addClass("form-control-danger");
            $("#username-form").parent().addClass("has-danger");
            $("#username-form").parent().removeClass("has-success");
        }
        if (password != "") {
            $("#password-form").removeClass("form-control-danger")
            $("#password-form").addClass("form-control-success");
            $("#password-form").parent().removeClass("has-danger");
            $("#password-form").parent().addClass("has-success");
        } else {
            $("#password-form").removeClass("form-control-success")
            $("#password-form").addClass("form-control-danger");
            $("#password-form").parent().addClass("has-danger");
            $("#password-form").parent().removeClass("has-success");
        }
        if (name != "") {
            $("#name-form").removeClass("form-control-danger")
            $("#name-form").addClass("form-control-success");
            $("#name-form").parent().removeClass("has-danger");
            $("#name-form").parent().addClass("has-success");
        } else {
            $("#name-form").removeClass("form-control-success")
            $("#name-form").addClass("form-control-danger");
            $("#name-form").parent().addClass("has-danger");
            $("#name-form").parent().removeClass("has-success");
        }
        if (email != "") {
            $("#telp-form").removeClass("form-control-danger")
            $("#telp-form").addClass("form-control-success");
            $("#telp-form").parent().removeClass("has-danger");
            $("#telp-form").parent().addClass("has-success");
        } else {
            $("#telp-form").removeClass("form-control-success")
            $("#telp-form").addClass("form-control-danger");
            $("#telp-form").parent().addClass("has-danger");
            $("#telp-form").parent().removeClass("has-success");
        }
        if (username != "" && password != "" && name != "" && email != "") {
            $("#form-signup").submit()
        }
    })
</script>
{{/extend}}

{{#extend "css"}}

{{/extend}}