{{#extend "css"}}
<style>
    .card:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    }
</style>
{{/extend}}
{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <span class="breadcrumb-item active">Package</span>
        </nav>
    </div>
</div>
{{#if flashData.failed }}
<div class="alert alert-danger">
    {{flashData.failed}}
</div>
{{/if}}
{{#if flashData.success}}
<div class="alert alert-success">
    {{flashData.success}}
</div>
{{/if}}
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <a href="/dashboard/package/add" class="btn-success btn ml-auto mb-3"><i class="fas fa-plus"></i> Add
            Package</a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form class="form-inline float-right" action="/dashboard/package/list" method="GET">
            <div class="form-group">
                <label for=""></label>
                <input type="text" name="search" id="" placeholder="Package Name" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <button type="submit" class="btn btn-success ml-3"><i class="fas fa-search    "></i></button>
        </form>
    </div>
</div>
<div class="row">
    {{#each paginate.docs}}
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">{{this.package_name}}</h4>
                <p class="card-text">{{this.type}}</p>
                <p class="card-text">Rp. {{this.price}}</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a href="/dashboard/package/edit/{{this._id}}"><i class="fas fa-pencil-alt mr-3"></i></a>
                    <a href="#" onclick="deleteData('/dashboard/package/delete/{{this._id}}')" id="delete-btn"><i
                            class="fas fa-trash    "></i></a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <div class="col-md-12 align-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item {{#if_eq paginate.page 1}}disabled{{/if_eq}}">
                    <a class="page-link" href="/dashboard/package/{{paginate.prevPage}}/list" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#for 1 paginate.totalPages 1}}
                <li class="page-item {{#if_eq @index paginate.page}}active{{/if_eq}}"><a
                        href="/dashboard/package/{{@index}}/list" class="page-link">{{@index}}</a>
                </li>
                {{/for}}
                <li class="page-item {{#if_eq paginate.page paginate.totalPages}}disabled{{/if_eq}}">
                    <a class="page-link" href="/dashboard/package/{{paginate.nextPage}}/list" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


{{/extend}}
{{#extend "js"}}
<script>
    function deleteData(uri) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Dou you want delete this transaction!!!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                window.location.href = uri
            } else {
                return;
            }

        })
    }


</script>
{{/extend}}