<nav class="navbar navbar-expand-lg hover-dropdown h5-nav-bar">
    <a href="javascript:void(0)" class="navbar-brand"><img src="/img/logo/logo.png" width="100" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h5-info" aria-expanded="false"
        aria-label="Toggle navigation"><span class="ti-menu"></span></button>
    <div class="collapse navbar-collapse " id="h5-info">
        {{#if session.idUser}}
        <div class="ml-auto act-buttons">
            <a href="/auth/logout" class="btn btn-danger font-14">Logout</a>
            <a href="/dashboard" class="btn btn-info font-14"><i class="icon-Gaugage mr-2"></i> Dashboard</a>
        </div>
        {{else}}
        <div class="ml-auto act-buttons">
            <a href="/auth/login" class="btn btn-outline-info font-14">Login</a>
        </div>
        {{/if}}
    </div>
</nav>