<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="/img/logo/favicon.png">
	<title>{{title}}</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/dist/css/style.css">
	<link rel="stylesheet" href="/assets/dist/css/animate.css">

	{{{block "css"}}}
	<style>
		.outer-auth {
			background-image: url("/img/headerImg.jpg");
			background-size: cover;
			background-position: top center;
			min-height: 100vh;
			height: auto;
			margin: 0 0 0 0;
		}
	</style>
</head>

<body class="">
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->

	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="outer-auth">
				{{{block "content"}}}
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- footer 4  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/dist/js/jquery-3.4.1.min.js"></script>
	<script src="/assets/dist/js/bootstrap.min.js"></script>
	{{!-- <script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.counterup.min.js"></script> --}}

	{{{block "js"}}}

</body>

</html>