{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <a class="breadcrumb-item" href="/dashboard/orders/list">Orders</a>
            <span class="breadcrumb-item active">Edit</span>
        </nav>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8" style="">
        {{#if flashData.failed }}
        <div class="alert alert-danger">
            {{flashData.failed}}
        </div>
        {{/if}}
        {{#if flashData.success}}
        <div class="alert alert-success">
            {{flashData.success}}
        </div>
        {{/if}}
        <form action="/dashboard/orders/update" method="POST" id="form-signup" class="form-material">
            <input type="hidden" value="{{data._id}}" name="id">
            <div class="form-group">
                <label for="">Member</label>
                <select class="form-control" name="member" id="member">
                </select>
            </div>
            <div class="form-group">
                <label for="">Tenggat Waktu</label>
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text" name="limit_date" class="form-control datetimepicker-input"
                        data-target="#datetimepicker" />
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Paket</label>
                <select class="form-control" name="package" id="package">
                </select>
            </div>
            <div class="form-group">
                <label for="">Qty</label>
                <input type="number" value="{{data.qty}}" name="qty" id="telp-form" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" name="description" id="" rows="3">{{data.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="">Status</label>
                <select class="form-control" name="status" id="">
                    <option value="baru" {{#if_eq data.transaction.status 'baru'}}selected{{/if_eq}}>Baru</option>
                    <option value="proses" {{#if_eq data.transaction.status 'proses'}}selected{{/if_eq}}>Proses</option>
                    <option value="selesai" {{#if_eq data.transaction.status 'selesai'}}selected{{/if_eq}}>Selesai
                    </option>
                    <option value="diambil" {{#if_eq data.transaction.status 'diambil'}}selected{{/if_eq}}>Diambil
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Is Payed</label>
                <select class="form-control" name="is_payed" id="">
                    <option value="belum_dibayar"
                        {{#if_eq data.transaction.is_payed 'belum_dibayar'}}selected{{/if_eq}}>Belum Dibayar</option>
                    <option value="dibayar" {{#if_eq data.transaction.is_payed 'dibayar'}}selected{{/if_eq}}>Dibayar
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Total Pay</label>
                <input type="text" class="form-control" name="" id="" disabled aria-describedby="helpId"
                    value="{{plus (minus (multiply data.qty data.package.price) (multiply (multiply data.qty data.package.price) data.transaction.discount)) (multiply (multiply data.qty data.package.price) data.transaction.additional_charge)}}"
                    placeholder="">
            </div>
            <br>
            <button type="submit" id="signup-btn" class="btn btn-success">Update</button>
    </div>

    </form>
</div>
</div>

{{/extend}}

{{#extend "js"}}
<script src="/assets/dist/js/moment-with-locales.min.js"></script>
<script src="/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/assets/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    $(document).ready(function () {
        let dates = Date.parse("{{data.transaction.limit_date}}");
        $.ajax({
            type: "POST",
            url: "/dashboard/orders/getMember",
            dataType: "json",
            success: function (response) {
                let list = ""
                for (let i = 0; i < response.length; i++) {
                    list += '<option value="' + response[i]._id + '">' + response[i].name + '</option>';
                }
                $("#member").html(list)
                $("#member").selectpicker('val', "{{data.transactionMember._id}}");

            }
        });
        $.ajax({
            type: "POST",
            url: "/dashboard/orders/getPackage",
            dataType: "json",
            success: function (response) {
                let list = ""
                for (let i = 0; i < response.length; i++) {
                    list += '<option value="' + response[i]._id + '">' + response[i].package_name + '</option>';
                }
                $("#package").html(list)
                $("#package").selectpicker('val', "{{data.package._id}}");

            }
        });
        $("#datetimepicker").datetimepicker(
            {
                icons: {
                    time: "fas fa-clock",
                    date: "fas fa-calendar",
                    up: "fas fa-arrow-up",
                    down: "fas fa-arrow-down"
                },
                format: "L",
                defaultDate: dates,
            }
        );
    });
    $("#signup-btn").click((e) => {
        e.preventDefault();
        var username = $("#username-form").val()
        var name = $("#name-form").val()
        var email = $("#telp-form").val()
        var password = $("#password-form").val()
        if (username != "") {
            $("#username-form").removeClass("form-control-danger")
            $("#username-form").addClass("form-control-success");
            $("#username-form").parent().removeClass("has-danger");
            $("#username-form").parent().addClass("has-success");
        } else {
            $("#username-form").removeClass("form-control-success")
            $("#username-form").addClass("form-control-danger");
            $("#username-form").parent().addClass("has-danger");
            $("#username-form").parent().removeClass("has-success");
        }
        if (password != "") {
            $("#password-form").removeClass("form-control-danger")
            $("#password-form").addClass("form-control-success");
            $("#password-form").parent().removeClass("has-danger");
            $("#password-form").parent().addClass("has-success");
        } else {
            $("#password-form").removeClass("form-control-success")
            $("#password-form").addClass("form-control-danger");
            $("#password-form").parent().addClass("has-danger");
            $("#password-form").parent().removeClass("has-success");
        }
        if (name != "") {
            $("#name-form").removeClass("form-control-danger")
            $("#name-form").addClass("form-control-success");
            $("#name-form").parent().removeClass("has-danger");
            $("#name-form").parent().addClass("has-success");
        } else {
            $("#name-form").removeClass("form-control-success")
            $("#name-form").addClass("form-control-danger");
            $("#name-form").parent().addClass("has-danger");
            $("#name-form").parent().removeClass("has-success");
        }
        if (email != "") {
            $("#telp-form").removeClass("form-control-danger")
            $("#telp-form").addClass("form-control-success");
            $("#telp-form").parent().removeClass("has-danger");
            $("#telp-form").parent().addClass("has-success");
        } else {
            $("#telp-form").removeClass("form-control-success")
            $("#telp-form").addClass("form-control-danger");
            $("#telp-form").parent().addClass("has-danger");
            $("#telp-form").parent().removeClass("has-success");
        }
        if (username != "" && password != "" && name != "" && email != "") {
            $("#form-signup").submit()
        }
    })
</script>
{{/extend}}

{{#extend "css"}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/assets/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
{{/extend}}