{{#extend "css"}}
<style>
    .card:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    }
</style>
{{/extend}}
{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <span class="breadcrumb-item active">Order</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        {{#if flashData.failed }}
        <div class="alert alert-danger">
            {{flashData.failed}}
        </div>
        {{/if}}
        {{#if flashData.success}}
        <div class="alert alert-success">
            {{flashData.success}}
        </div>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="/dashboard/orders/add" class="btn-success btn ml-auto mb-3"><i class="fas fa-plus"></i> Add Order</a>
    </div>
</div>
<div class="row">
    {{#each paginate.docs}}
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="ml-auto mr-0 mb-3">
                    {{#if_eq this.transaction.is_payed 'dibayar'}}
                    <button class="btn btn-success btn-sm disabled">Payed</button>
                    {{/if_eq}}
                    {{#if_eq this.transaction.is_payed 'belum_dibayar'}}
                    <button class="btn btn-danger btn-sm disabled">Not Payed</button>
                    {{/if_eq}}
                </div>
                <h5 class="card-title">{{this.transaction.invoice_code}}</h5>
                <p class="card-text mb-0">Member : {{this.transactionMember.name}}</p>
                <p class="card-text mb-0">Package : {{this.package.package_name}}</p>
                <p class="card-text mb-0">Qty : {{this.qty}}</p>
                <p class="card-text mb-0">Desc : {{this.description}}</p>
                <p class="card-text mb-0">Diskon : {{multiply this.transaction.discount 100}}%</p>
                <p class="card-text mb-0">Pajak : {{multiply this.transaction.additional_charge 100}}%</p>
                <p class="card-text mb-0">Status : {{this.transaction.status}}</p>
                <p class="card-text">Total Pay :
                    {{plus (minus (multiply this.qty this.package.price) (multiply (multiply this.qty this.package.price) this.transaction.discount)) (multiply (multiply this.qty this.package.price) this.transaction.additional_charge)}}
                </p>

            </div>
            <div class="card-footer">
                <div class="row px-2">
                    <!-- <div>
                        <a href="/dashboard/orders/invoice/{{this._id}}" data-toggle="tooltip" data-placement="top"
                            title="invoice"><i class="fas fa-print    "></i></a>
                    </div> -->
                    <div class="ml-auto">
                        <a href="/dashboard/orders/edit/{{this._id}}"><i class="fas fa-pencil-alt mr-3"></i></a>
                        <a href="#" onclick="deleteData('/dashboard/orders/delete/{{this._id}}')" id="delete-btn"><i
                                class="fas fa-trash    "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{#gt paginate.totalDocs 0}}
<div class="row">
    <div class="col-md-12 align-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item {{#if_eq paginate.page 1}}disabled{{/if_eq}}">
                    <a class="page-link" href="/dashboard/orders/{{paginate.prevPage}}/list" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#for 1 paginate.totalPages 1}}
                <li class="page-item {{#if_eq @index paginate.page}}active{{/if_eq}}"><a
                        href="/dashboard/orders/{{@index}}/list" class="page-link">{{@index}}</a>
                </li>
                {{/for}}
                <li class="page-item {{#if_eq paginate.page paginate.totalPages}}disabled{{/if_eq}}">
                    <a class="page-link" href="/dashboard/orders/{{paginate.nextPage}}/list" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{/gt}}
{{/extend}}
{{#extend "js"}}
<script>
    function deleteData(uri) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Dou you want delete this transaction!!!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                window.location.href = uri
            } else {
                return;
            }

        })
    }
</script>
{{/extend}}
