<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/dist/css/myTable.css">
</head>

<body>
    <div class="container">
        <h2>Laporan Laundry</h2>
        <h3 style="text-align:center">Nama Outlet : {{outlet}}</h3>
        <h4 style="text-align:center">Tanggal : {{tanggal}}</h4>

        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Invoice</div>
                <div class="col col-2">Member Name</div>
                <div class="col col-3">Date</div>
                <div class="col col-4">Package</div>
                <div class="col col-5">Payment Status</div>
                <div class="col col-6">Qty</div>
                <div class="col col-7">Total</div>
            </li>
            {{#each data}}
            <li class="table-row">
                <div class="col col-1" data-label="Invoice">{{this.transaction.invoice_code}}</div>
                <div class="col col-2" data-label="Member Name">{{this.transactionMember.name}}</div>
                <div class="col col-3" data-label="Date">{{formatDate this.transaction.date "DD-MM-YYYY"}}</div>
                <div class="col col-4" data-label="Package">{{this.package.package_name}}</div>
                <div class="col col-5" data-label="Payment Status">{{this.transaction.is_payed}}</div>
                <div class="col col-6" data-label="Qty">{{this.qty}}</div>
                <div class="col col-7" data-label="Total">
                    {{plus (minus (multiply this.qty this.package.price) (multiply (multiply this.qty this.package.price) this.transaction.discount)) (multiply (multiply this.qty this.package.price) this.transaction.additional_charge)}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
<script src="/assets/dist/js/moment-with-locales.min.js"></script>

</html>