{{#extend "content"}}
<div class="row">
  <div class="col-md-12">
    <nav class="breadcrumb mb-4">
      <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
      <span class="breadcrumb-item active">Report</span>
    </nav>
  </div>
</div>
{{#if_eq outlet 1}}
<div class="row">
  <div class="col-md-4">
    <form action="" method="post" target="_blank">
      <div class="form-group">
        <label for="">Date</label>
        <input
          type="text"
          name="date"
          id=""
          class="form-control daterange-btn"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <button
        type="submit"
        class="btn btn-info"
        formaction="/dashboard/report/html"
      >
        Lihat
      </button>
      <button
        type="submit"
        class="btn btn-success"
        formaction="/dashboard/report/pdf"
      >
        Pdf
      </button>
    </form>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-md-12">
    <h3>Please Fill Your Otlet Data</h3>
  </div>
</div>
{{/if_eq}}
{{/extend}}

{{#extend "js"}}
<script src="/assets/dist/js/moment-with-locales.min.js"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
  $(function() {
    $(".daterange-btn").daterangepicker(
      {
        ranges: {
          Today: [moment(), moment()],
          Yesterday: [
            moment().subtract(1, "days"),
            moment().subtract(1, "days")
          ],
          "Last 7 Days": [moment().subtract(6, "days"), moment()],
          "Last 30 Days": [moment().subtract(29, "days"), moment()],
          "This Month": [moment().startOf("month"), moment().endOf("month")],
          "Last Month": [
            moment()
              .subtract(1, "month")
              .startOf("month"),
            moment()
              .subtract(1, "month")
              .endOf("month")
          ]
        },
        locale: {
          format: "YYYY-MM-DD"
        },
        startDate: moment(),
        endDate: moment()
      },
      function(start, end) {
        $(".daterange-btn").html(
          start.format("YYYY-MM-DD") + " ~ " + end.format("YYYY-MM-DD")
        );
      }
    );
  });
</script>
{{/extend}}
{{#extend "css"}}
<link
  rel="stylesheet"
  href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css"
/>
{{/extend}}
