<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <style>
      body {
        font-size: 10px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid black;
        text-align: left;
        padding: 2px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2 style="text-align: center;">Laporan Laundry</h2>
    <h3 style="text-align:center">Nama Outlet : {{outlet}}</h3>
    <h4 style="text-align:center">Tanggal : {{tanggal}}</h4>
    <table>
      <tr>
        <th>INVOICE</th>
        <th>MEMBER NAME</th>
        <th>DATE</th>
        <th>PACKAGE</th>
        <th>PAYMENT STATUS</th>
        <th>QTY</th>
        <th>TOTAL</th>
      </tr>
      {{#each ress}}
      <tr>
        <td>{{this.transaction.invoice_code}}</td>
        <td>{{this.transactionMember.name}}</td>
        <td>
          {{formatDate this.transaction.date "DD-MM-YYYY"}}
        </td>
        <td>
          {{this.package.package_name}}
        </td>
        <td>
          {{this.transaction.is_payed}}
        </td>
        <td>
          {{this.qty}}
        </td>
        <td>
          {{plus (minus (multiply this.qty this.package.price) (multiply
          (multiply this.qty this.package.price) this.transaction.discount))
          (multiply (multiply this.qty this.package.price)
          this.transaction.additional_charge)}}
        </td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>
