{{#extend "content"}}
<div class="row">
    <div class="col-md-12">
        <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
            <a class="breadcrumb-item" href="/dashboard/users">Users</a>
            <span class="breadcrumb-item active">Add</span>
        </nav>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" style="">
        {{#if flashData.failed }}
        <div class="alert alert-danger">
            {{flashData.failed}}
        </div>
        {{/if}}
        {{#if flashData.success}}
        <div class="alert alert-success">
            {{flashData.success}}
        </div>
        {{/if}}
        <form action="/dashboard/users/add" method="POST" id="form-signup" class="form-material">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name" id="name-form" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" id="username-form" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" id="password-form" class="form-control" placeholder=""
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Role</label>
                <select class="form-control" name="role" id="">
                    <option value="kasir">Kasir</option>
                    <option value="owner">Owner</option>
                </select>
            </div>
            <br>
            <button type="submit" id="signup-btn" class="btn btn-success">Add</button>
    </div>

    </form>
</div>
</div>

{{/extend}}

{{#extend "js"}}
<script>
    $(document).ready(function () {
        $(".card").addClass("rubberBand");
    });
    $("#signup-btn").click((e) => {
        e.preventDefault();
        var username = $("#username-form").val()
        var name = $("#name-form").val()
        var email = $("#email-form").val()
        var password = $("#password-form").val()
        if (username != "") {
            $("#username-form").removeClass("form-control-danger")
            $("#username-form").addClass("form-control-success");
            $("#username-form").parent().removeClass("has-danger");
            $("#username-form").parent().addClass("has-success");
        } else {
            $("#username-form").removeClass("form-control-success")
            $("#username-form").addClass("form-control-danger");
            $("#username-form").parent().addClass("has-danger");
            $("#username-form").parent().removeClass("has-success");
        }
        if (password != "") {
            $("#password-form").removeClass("form-control-danger")
            $("#password-form").addClass("form-control-success");
            $("#password-form").parent().removeClass("has-danger");
            $("#password-form").parent().addClass("has-success");
        } else {
            $("#password-form").removeClass("form-control-success")
            $("#password-form").addClass("form-control-danger");
            $("#password-form").parent().addClass("has-danger");
            $("#password-form").parent().removeClass("has-success");
        }
        if (name != "") {
            $("#name-form").removeClass("form-control-danger")
            $("#name-form").addClass("form-control-success");
            $("#name-form").parent().removeClass("has-danger");
            $("#name-form").parent().addClass("has-success");
        } else {
            $("#name-form").removeClass("form-control-success")
            $("#name-form").addClass("form-control-danger");
            $("#name-form").parent().addClass("has-danger");
            $("#name-form").parent().removeClass("has-success");
        }
        if (email != "") {
            $("#email-form").removeClass("form-control-danger")
            $("#email-form").addClass("form-control-success");
            $("#email-form").parent().removeClass("has-danger");
            $("#email-form").parent().addClass("has-success");
        } else {
            $("#email-form").removeClass("form-control-success")
            $("#email-form").addClass("form-control-danger");
            $("#email-form").parent().addClass("has-danger");
            $("#email-form").parent().removeClass("has-success");
        }
        if (username != "" && password != "" && name != "" && email != "") {
            $("#form-signup").submit()
        }
    })
</script>
{{/extend}}

{{#extend "css"}}

{{/extend}}