<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo/favicon.png">
    <title>{{title}}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/perfect-scrollbar.min.css">
    {{!-- <link rel="stylesheet" href="/assets/dist/css/custom.css">
    <link rel="stylesheet" href="/assets/dist/css/style.css"> --}}
    <link rel="stylesheet" href="/assets/dist/css/dashboard.css">
    <link rel="stylesheet" href="/assets/dist/css/animate.css">
    <link rel="stylesheet" href="/assets/plugins/aos/dist/aos.css">
    <!-- Font Awesome JS -->
    <script src="/assets/font/fontawesome/js/fontawesome.min.js"></script>
    <script src="/assets/font/fontawesome/js/solid.min.js"></script>
    <link rel="stylesheet" href="/assets/dist/css/style.css">
    <link rel="stylesheet" href="/assets/plugins/@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css">
    {{{block "css"}}}
</head>

<body class="">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <a href="/">
                    <h3 class="text-white">LaundME</h3>
                </a>
                <strong><a href="/">LM</a></strong>
            </div>

            <ul class="list-unstyled components">
                <li class="{{#if_eq active 'dashboard'}}active{{/if_eq}}">
                    <a href="/dashboard">
                        <i class="fas fa-tachometer-alt    "></i>
                        <span> Dashboard</span>
                    </a>
                </li>
                {{#if_eq session.role 'admin'}}
                <li class="{{#if_eq active 'members'}}active{{/if_eq}}">
                    <a href="#pageSubmenumember" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-users    "></i>
                        <span> Member</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenumember">
                        <li>
                            <a href="/dashboard/members">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/members/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'kasir'}}
                <li class="{{#if_eq active 'members'}}active{{/if_eq}}">
                    <a href="#pageSubmenumember" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-users    "></i>
                        <span> Member</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenumember">
                        <li>
                            <a href="/dashboard/members">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/members/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'admin'}}
                <li class="{{#if_eq active 'outlet'}}active{{/if_eq}}">
                    <a href="/dashboard/outlet">
                        <i class="fas fa-home"></i>
                        <span> Outlet</span>
                    </a>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'admin'}}
                <li class="{{#if_eq active 'orders'}}active{{/if_eq}}">
                    <a href="#pageSubmenuorder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-clock"></i>
                        <span> Order</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenuorder">
                        <li>
                            <a href="/dashboard/orders/list">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/orders/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'kasir'}}
                <li class="{{#if_eq active 'orders'}}active{{/if_eq}}">
                    <a href="#pageSubmenuorder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-clock"></i>
                        <span> Order</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenuorder">
                        <li>
                            <a href="/dashboard/orders/list">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/orders/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'admin'}}
                <li class="{{#if_eq active 'package'}}active{{/if_eq}}">
                    <a href="#pageSubmenupackage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-box-open    "></i>
                        <span> Package</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenupackage">
                        <li>
                            <a href="/dashboard/package/list">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/package/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                {{#if_eq session.role 'admin'}}
                <li class="{{#if_eq active 'users'}}active{{/if_eq}}">

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                        <span> Users</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/dashboard/users">List</a>
                        </li>
                        <li>
                            <a href="/dashboard/users/add">Add</a>
                        </li>
                    </ul>
                </li>
                {{/if_eq}}
                <li class="{{#if_eq active 'report'}}active{{/if_eq}}">
                    <a href="/dashboard/report">
                        <i class="fas fa-paper-plane    "></i>
                        <span> Report</span>
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-bars    "></i>
                    </button>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/auth/logout" class="btn btn-danger ">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                {{{block "content"}}}
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/dist/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/dist/js/popper.min.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/aos/dist/aos.js"></script>
    <script src="/assets/dist/js/custom.min.js"></script>
    <script src="/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    {{{block "js"}}}
</body>

</html>